# User's contributions Analysis

This notebook helps to retrieve, analyse and visualize user's contributions for all the users from the small database (2336 unique users).

In particular, this notebook contains :
* reusable functions for any users in Wikipedia
* plots visualization to see patterns
* analysis of the results to understand the impact of the metadata of a user and his editing behaviour.

The final goal of this notebook is find some features that reveals certain weaponizing patterns that can retrieved and keep for the developpement of an LLM.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import requests
import time
import calendar
from datetime import timedelta
from scipy.stats import variation
from tqdm import tqdm

In [3]:
# import our small preprocessed database
df = pd.read_csv('../../datas/final/small_db_preprocess.csv')

In [4]:
# Top 10 users contributions 1. Registered Users 2. IP adress Users
df_reg_contrib = pd.read_csv('../../datas/interim/All Users Analysis/top_user_contribs.csv')
df_ip_contrib = pd.read_csv('../../datas/interim/All Users Analysis/ip_user_contribs_df.csv')

# Merge both contribs df
df_ip_contrib = df_ip_contrib.drop(['top', 'texthidden', 'new'], axis = 1) # clean quickly for fitting
df_contrib = pd.concat([df_reg_contrib, df_ip_contrib], ignore_index=True) 
df_contrib

,username,userid,pageid,revid,parentid,ns,title,timestamp,comment,size,user
0,LSGH,38910429,63260687,1075136185,1074964872,0,COVID-19 pandemic in Bahrain,2022-03-04T04:03:16Z,Updating number of cases in infobox,64532,NaN
1,LSGH,38910429,63339598,1075135994,1074964830,10,Template:COVID-19 pandemic data/South Africa m...,2022-03-04T04:01:40Z,Adding number of cases for March 03,23607,NaN
2,LSGH,38910429,63281706,1075022468,1074969215,0,COVID-19 pandemic in Latvia,2022-03-03T13:19:02Z,Updating number of cases in infobox,153418,NaN
3,LSGH,38910429,63353757,1075022344,1074969128,10,Template:COVID-19 pandemic data/Latvia medical...,2022-03-03T13:18:11Z,Adding number of cases for March 03,19318,NaN
4,LSGH,38910429,63262762,1075022265,1074414768,0,COVID-19 pandemic in Andorra,2022-03-03T13:17:26Z,Updating number of cases in infobox,35796,NaN
...,...,...,...,...,...,...,...,...,...,...,...
678365,217.118.81.18,0,29636778,421978294,419568606,0,2011 Ykkönen,2011-04-02T13:51:57Z,/* Overview */,11206,217.118.81.18
678366,217.118.81.18,0,2079383,421960113,418496575,0,FC Honka,2011-04-02T10:41:15Z,/* Current squad */,14112,217.118.81.18
678367,217.118.81.18,0,18577625,383900698,382635178,0,Culture Club discography,2010-09-09T20:38:22Z,/* Studio albums */,8208,217.118.81.18
678368,217.118.81.18,0,154309,383900443,383896136,0,Culture Club,2010-09-09T20:36:54Z,/* Discography */,19439,217.118.81.18
678369,217.118.81.18,0,154309,383896136,383299760,0,Culture Club,2010-09-09T20:09:42Z,/* Discography */,19439,217.118.81.18